* {
  box-sizing: border-box;
}
html, body {
  will-change: background-color;
}
html {
  font-size: 14px;
}
body {
  position: relative;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  overflow-x: hidden;
  transition: background-color 0.5s;
}
/* body.white {
  color: #000;
  background-color: #EDEAED ;
} */
body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
h1, h2, h4 {
  font-weight: 500;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
::selection {
  color: #fff;
  background-color: var(--black);
}
img {
  max-width: 100%;
}
:root {
  --main-color: #18499A;
  --black: #161616;
}

/* 공통 */
.pc-only {
  display: block !important;
}
.tb-only {
  display: none !important;
}
.mo-only {
  display: none !important;
}
section {
  position: relative;
  padding: 6vw 3.5vw;
  z-index: 2;
}
.sec-title {
  padding-bottom: 40px;
}
.sec-title h1 {
  font-size: 8vw;
  font-weight: 600;
}
.sec-title h1 > div {
    background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgb(37, 37, 37) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn-detail {
  width: 240px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFF;
  border-radius: 60px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 60px;
  transition: all 0.3s ease-in-out;
}

/* 헤더 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 40px;
  font-size: 14px;
  font-weight: 500;
  z-index: 5;
  transition: all 0.3s ease-out;
}
header.main-sec-active {
  background: transparent;
}
header.profile-sec-active {
  background: var(--main-color);
}
header.work-sec-active {
  background: #fdfdfd;
  color: var(--black);
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header .logo {
  font-size: 20px;
  font-weight: 600;
}
.top-nav ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.top-nav ul li p {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-out;
}
.top-nav ul li.on p {
  color: var(--main-color);
}
.top-nav ul li:hover p {
  color: var(--main-color);
}
.open-nav {
  width: 40px;
}
.open-nav svg {
  width: 100%;
}
.open-nav, .close-nav {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}
.open-nav.active, 
.close-nav.active {
  visibility: visible;
  opacity: 1;
}
.open-nav img, 
.close-nav img {
  height: 25px;
}
.close-nav {
  position: absolute;
  top: 25px;
  right: 40px;
}
.menu-container {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100dvh;
  width: 100vw;
  background-color: rgb(22 22 22 / 0.8);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 56px;
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 6;
}
.menu-container.open {
  visibility: visible;
  opacity: 1;
}
.info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 60px;
}
.info-container h4 {
  font-size: 32px;
  font-weight: 500;
}
.info-container a {
  display: block;
  font-size: 20px;
}
.info-container a:hover {
  text-decoration: underline;
}
.info-container a + h4 {
  margin-top: 24px;
}

/* 메인 섹션 */
.main-sec {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background-color: var(--black);
  overflow: hidden;
}
.main-sec .main-title {
  position: absolute;
  width: 100%;
  display: flex;
  font-size: 32px;
  font-weight: 600;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  padding: 40px;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
.bg-video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sight-line {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.sight-line .line-hr {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FFF;
  opacity: 0.2;
}
.sight-line .line-vr {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  opacity: 0.2;
}
.sight-line .line-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.sight-line .line-cross::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  opacity: 0.7;
}
.sight-line .line-cross::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FFF;
  opacity: 0.7;
}
.sight-line .line-circle {
  width: 200vw;
  height: 200vw;
  border-radius: 50%;
  border: 1px solid #FFF;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: scale-circle 4s infinite ease-in-out;
}
@keyframes scale-circle {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* 프로필 섹션 */
/* .profile-sec {
  position: relative;
  width: 100vw;
  line-height: 1.5;
}
.profile-sec p {
  font-size: 1.3rem;
}
.profile-sec .profile .pf-item {
  margin-top: 70px;
}
.profile-sec .profile .pf-item h2 {
  font-size: 32px;
  padding-bottom: 10px;
}
.profile-sec .profile .pf-item ul li {
  display: flex;
  gap: 15px;
}
.profile-sec .profile .pf-item ul li + li {
  margin-top: 5px;
}
.profile-sec .profile .pf-item ul li span {
  width: 140px;
  font-family: 'Pretendard',sans-serif;
  opacity: 0.5;
}
.profile-sec .profile .pf-item ul li span.short {
  width: 70px;
}
.flowing-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.flowing-text ul {
  display: flex;
  width: max-content;
  animation: textLoop 10s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}
@keyframes textLoop {
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}
.flowing-text ul li {
  font-size: 2.5vw;
  margin-right: 30px;
  white-space: nowrap;
} */
.profile-sec {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
}
.profile-sec .btn-detail:hover {
  color: var(--main-color);
  background-color: #FFF;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.profile-container .slogan-container {
  font-size: 7vw;
  line-height: 1.2;
  font-weight: 600;
  white-space: nowrap;
}
.profile-container .slogan-container .sentence {
  display: flex;
  justify-content: space-between;
}
/* .profile-container .slogan-container .sentence .trans {
  color: var(--main-color);
  text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
} */
.profile-container .slogan-container .sentence .middle {
  position: relative;
  width: 100%;
  margin: 1vw 1.6vw;
  border-radius: 16px;
  overflow: hidden;
}
.profile-container .slogan-container .sentence .middle .pr-video-content {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-container .desc-container p {
  font-family: "Noto Sans KR", sans-serif;  
  font-size: 26px;
  line-height: 1.5;
  word-break: auto-phrase;
}

/* work 섹션 */
.work-sec {
  color: var(--black);
  background-image: url('../assets/img/bg-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.work-sec .sec-title {
  position: absolute;
  color: var(--main-color);
  rotate: -90deg;
  top: 18%;
  left: -4%;
}
.work-sec .sec-title h1 {
  font-size: 11vw;
}
.work-sec .work-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 48px;
}
.work-sec .work-list + .work-list {
  margin-top: 48px;
}
.work-sec .work-list.grid {
  width: 81%;
  margin-left: auto;
}
.work-sec .work-list.grid .work-item:nth-child(1) {
  grid-row: 1 / span 2;
}
.work-sec .work-list .work-item a {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.work-sec .work-list .work-item a .thumnail {
  flex: 1;
  aspect-ratio: 5 / 3;
  border-radius: 16px;
  overflow: hidden;
}
.work-sec .work-list.grid .work-item a .thumnail {
  max-height: 450px;
}
.work-sec .work-list.grid .work-item:nth-child(1) a .thumnail {
  max-height: none;
}
.work-sec .work-list .work-item a .thumnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}
.work-sec .work-list .work-item:hover a .thumnail img {
  scale: 1.2;
}
.work-sec .work-list .work-item a .info {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}
.work-sec .work-list .work-item a .info .title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.02em;
  white-space: nowrap;
}
.work-sec .work-list .work-item:hover .info .title,
.work-sec .work-list .work-item:hover a .info .desc {
  font-weight: 600;
  color: var(--main-color);
}
.work-sec .work-list .work-item a .info .desc {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  font-family: "Noto Sans KR", sans-serif;  
  font-size: 18px;
  font-weight: 500;
  gap: 16px;
}
.work-sec .work-list .work-item a .info .desc .line {
  width: 42px;
  height: 1px;
  background-color: var(--black);
}
.work-sec .work-list .work-item:hover a .info .desc .line {
  height: 2px;
  background-color: var(--main-color);
}
.work-sec .btn-detail {
  margin: 60px auto;
  border-color: var(--black);
}
.work-sec .btn-detail:hover {
  background-color: var(--black);
  color: #FFF
}

/* .work-sec .work-list .work-item {
  position: relative;
  border-radius: 18px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out;
  overflow: hidden;
  background-color: #FFF;
}
.work-sec .work-list .work-item .thumnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18.5vw;
  overflow: hidden;
}
.work-sec .work-list .work-item .thumnail > img{
  width: 100%;
  transition: 0.35s ease-in-out;
}
.work-sec .work-list .work-item:hover .thumnail > img {
  scale: 1.07;
  filter: brightness(0.7);
}
.work-sec .work-list .work-item .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-top: 1px solid #ccc;
}
.work-sec .work-list .work-item .info > li {
  font-family: "Noto Sans KR", sans-serif;  
  color: #000;
}
.work-sec .work-list .work-item .info .title {
  font-size: 20px;
  font-weight: bold;
}
.work-sec .work-list .work-item .info .desc {
  font-size: 14px;
}
.work-sec .work-list .work-item .info .date {
  font-size: 12px;
  color: #6e6e73;
}
.work-sec .work-list .work-item .info .keywords {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.work-sec .work-list .work-item .info .keywords span {
  display: block;
  padding: 5px 10px 7px;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
} */

/* contact 영역 */
.contact-sec {
  background-color: var(--main-color);
  color: #FFF;
  padding-top: 6vw;
  padding-bottom: 3vw;
  overflow: hidden;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  margin-bottom: 50px;
}.contact-info > li {
  display: flex;
}
.contact-info > li:first-child {
  padding-bottom: 15px;
}
.contact-info > li > span {
  display: inline-block;
  width: 80px;
  opacity: 0.5;
}
.contact-now {
  width: 100%;
}
.contact-now p {
  font-size: 10vw;
}
.work-detail {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  padding: 0 20px;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.work-detail.active {
  opacity: 1;
  visibility: visible;
}
.modal-box {
  position: absolute;
  width: 85%;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  height: 90dvh;
  background-color: #FFF;
  color: #000;
  border-radius: 18px;
  transform: translate(-50%, 100%);
  transition: all 0.6s ease;
}
.work-detail.active .modal-box {
  transform: translate(-50%, -50%);
}
.modal-box::-webkit-scrollbar-track {
  border-radius: 10px;
}
.detail-wrap {
  height: 100%;
  padding: 65px 20px 40px 40px;
}
.detail-wrap .content-wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.detail-wrap .title {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0;
}
.detail-wrap .title span {
  font-size: 12px;
  font-weight: 400;
  border-radius: 18px;
  margin-left: 18px;
  color: #222;
  border: 1px solid #bbb;
  padding: 7px 10px 5px;
}
.detail-wrap .desc {
  font-size: 14px;
  line-height: 1.5;
  margin: 20px 0 40px;
  word-break: auto-phrase;
}
.detail-wrap .desc .date {
  margin-bottom: 10px;
  color: #6e6e73;
}
.detail-wrap .content h5 {
  font-size: 15px;
  font-weight: 500;
}
.detail-wrap .content .img-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detail-wrap .content .img-wrap.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}
.detail-wrap .content .img-wrap .img-item {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.detail-wrap .content .img-wrap.grid .img-item {
  padding: 20px; 
}
.detail-wrap .content .img-wrap .img-item > img {
  width: 100%;
}
.work-detail .modal-box .btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
}
.work-detail .modal-box .btn-close::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #000;
  opacity: 0.7;
  transform-origin: top left;
  transform: rotate(45deg) translate(-50%, -50%);
}
.work-detail .modal-box .btn-close::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background-color: #000;
  opacity: 0.7;
  transform-origin: top left;
  transform: rotate(-45deg) translate(-50%, -50%);
}

/* TABLET */
@media all and (max-width: 1023px) {
  .pc-only {
  display: none !important;
  }
  .tb-only {
    display: block !important;
  }
  .top-nav ul li p {
    font-size: 32px;
  }
  .info-container {
    display: none;
  }
  section {
    padding: 80px 20px;
  }
  .btn-detail {
    width: 100%;
    margin-top: 48px;
  }
  
  /* 메인 */
  .main-sec .main-title {
    font-size: 22px;
  }
  .sight-line .line-cross {
    width: 25px;
    height: 25px;
  }
  /* 프로필 */
  .profile-container .slogan-container {
    font-size: 8vw;
    padding: 0 6vw;
  }
  .profile-container {
    gap: 50px;
  }
  .profile-container .desc-container {
    padding: 0 6vw;
  }
  .profile-container .desc-container p {
    font-size: 18px;
  }

  /* work */
  .work-sec .work-list .work-item a .info {
    align-items: flex-start;
    flex-direction: column;
  }
  .work-sec .sec-title {
    top: 16%;
    left: -11%;
  }
  .work-sec .sec-title h1 {
    font-size: 18vw;
  }
  .work-sec .work-list.grid {
    width: 77%;
  }
  .work-sec .work-list .work-item a .info {
    gap: 8px;
  }
  .work-sec .work-list .work-item a .info .title {
    font-size: 26px;
  }
  .work-sec .work-list .work-item a .info .desc {
    font-size: 14px;
    gap: 8px;
  }
  .work-sec .work-list .work-item a .info .desc .line {
    width: 28px;
  }
}

/* MOBILE ONLY */
@media all and (max-width: 767px) {
  .mo-only {
    display: block !important;
  }
  header {
    padding: 16px 20px;
  }
  .top-header .logo {
    font-size: 18px;
  }
  .open-nav {
    width: 30px;
  }
  .close-nav {
    right: 20px;
  }
  .menu-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sec-title h1 {
    font-size: 40px;
  }
  .main-sec .cl-text {
    font-size: 5vw;
  }
  .main-sec .bottom-txt {
    font-size: 14vw;
  }
  .sight-line .line-cross::before,
  .sight-line .line-cross::after {
    opacity: 0.4;
  }

  .work-sec .sec-title {
    top: 6%;
    left: -12%;
  }
  .work-sec .sec-title h1 {
    font-size: 18vw;
  }
  .work-sec .work-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .work-sec .work-list.grid {
    width: 100%;
  }
  .work-sec .work-list.grid .work-item:nth-child(1) {
    width: 77%;
    margin: 0 0 0 auto;
  }

  .contact-sec {
    padding-top: 10vw;
  }
  .modal-box {
    width: 90%;
  }
  .work-detail .modal-box .btn-close {
    top: 10px;
    right: 10px;
  }
  .work-detail .modal-box .btn-close::before,
  .work-detail .modal-box .btn-close::after {
    width: 15px;
    height: 1px;
  }
  .detail-wrap {
    padding: 40px 20px;
  }
  .detail-wrap .content h5 {
    margin-top: 40px;
  }
  .detail-wrap .content .img-wrap.grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
  .detail-wrap .content .img-wrap.grid .img-item {
    padding: 10px;
  }
  .detail-wrap .title {
    font-size: 20px;
  }
  .detail-wrap .title span {
    font-size: 10px;
    padding: 6px 7px 4px;
    margin-left: 10px;
  }
  .detail-wrap .desc {
    margin: 10px 0 20px;
    font-size: 12px;
  }
}