* {
  box-sizing: border-box;
}
html, body {
  will-change: background-color;
}
html {
  font-size: 14px;
}
body {
  position: relative;
  color: var(--white);
  font-family: "ppneuemontreal", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  overflow-x: hidden;
  background-color: var(--black);
}
/* body.white {
  color: #000;
  background-color: #EDEAED ;
} */
body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
h1, h2, h4 {
  font-weight: 500;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
::selection {
  background-color: #fff;
  color: var(--black);
}
img {
  max-width: 100%;
}
:root {
  --main-color: #1565C0;
  --black: #080808;
  --white: #f0f0f0;
  --gray: #323232;
}

/* 공통 */
.pc-only {
  display: block !important;
}
.tb-only {
  display: none !important;
}
.mo-only {
  display: none !important;
}
section {
  position: relative;
  padding: 10vw 25px 6vw;
}
.fill-text > div {
    background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgba(37, 37, 37, 0.4) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn-detail {
  width: 120px;
  padding: 0;
  display: flex;
  font-size: 16px;
  margin-top: 35px;
  transition: all 0.3s ease-in-out;
}
.btn-detail:hover {
  text-decoration: underline;
}
.serif-font {
  font-family: "Antic Didone", serif;
  font-style: italic;
}

/* 헤더 */
header {
  transition: all 0.3s ease-out;
}
header .big-text {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  font-size: 14vw;
  line-height: 0.8;
  font-weight: 500;
  padding-left: 0;
  padding-top: 20px;
  z-index: 5;
  letter-spacing: -0.02em;
  white-space: nowrap;
  mix-blend-mode: difference;
}
.h-pf {
  position: fixed;
  top: 20px;
  right: 1.8vw;
  font-family: "Fragment Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  mix-blend-mode: difference;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}
.pf-modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: 20px;
  background-color: rgb(255 255 255 / 0.3);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.pf-modal.active {
  visibility: visible;
  opacity: 1;
}
.pf-modal .modal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: clamp(400px, 35%, 520px);
  height: 100%;
  padding: 35px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 10px;
  overflow-y: auto;
  transform: translateX(120%);
  transition: all 0.5s ease-in-out;
}
.pf-modal.active .modal-box {
  transform: translateX(0);
}
.pf-modal .modal-box .btn-close {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 30px;
  height: 30px;
  background-image: url('../assets/img/close-x.svg');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.pf-modal .modal-box .btn-close:hover {
  transform: rotate(90deg);
}
.pf-modal .modal-box .box-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.pf-modal .modal-box .box-top strong {
  font-size: clamp(32px, 2.5vw, 50px);
  font-weight: 500;
  letter-spacing: -0.02em;
}
.pf-modal .modal-box .box-top p {
  font-size: 14px;
  line-height: 1.6;
}
.pf-modal .modal-box .box-bt {
  font-size: 13px;
  line-height: 1.6;
}
.pf-modal .modal-box .box-bt .title {
  font-family: "Fragment Mono", monospace;
  color: #777;
  font-weight: 600;
  padding-bottom: 4px;
}
.pf-modal .modal-box .box-bt .content + .title {
  padding-top: 35px;
}
.pf-modal .modal-box .box-bt .content + .content {
  padding-top: 3px;
}
.pf-modal .modal-box .box-bt .date {
  display: inline-block;
  font-size: 11px;
  padding-left: 10px;
  color: #666;
}

header.work-sec-active,
header.contact-sec-active {
  color: var(--black);
} 
.menu-container {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100dvh;
  width: 100vw;
  background-color: rgb(22 22 22 / 0.8);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 56px;
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 6;
}
.menu-container.open {
  visibility: visible;
  opacity: 1;
}
.info-container {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.info-container h4 {
  font-size: 26px;
  margin-bottom: 12px;
}
.info-container a {
  display: block;
}
.info-container a:hover {
  text-decoration: underline;
}
.info-container a + h4 {
  margin-top: 44px;
}
#curr-time {
  margin-top: 5px;
}

.bg-color {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100dvh;
  background-image: url("../assets/img/metal.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -100;
}

/* 메인 섹션 */
.main-sec {
  position: relative;
  width: 100vw;
  height: 100dvh;
  /* background-color: var(--black); */
  overflow: hidden;
  padding: 0;
}
.black-area {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-color: var(--black);
  z-index: 3;
}
.black-area .text1 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 20px;
  font-family: "Fragment Mono", monospace;
  font-size: 12px;
  line-height: 15px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  padding: 0 20px;
  overflow: hidden;
}
.black-area .text2 {
  position: absolute;
  height: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Fragment Mono", monospace;
  font-size: 12px;
  line-height: 15px;
  padding: 0 5px;
  overflow: hidden;
}
.black-area .text3 {
  position: absolute;
  height: 40px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(30px, 4vw, 36px);
  font-weight: 500;
  padding: 0 15px;
  overflow: hidden;
  white-space: nowrap;
}
.main-sec .main-title {
  position: absolute;
  width: 100%;
  font-size: 6vw;
  bottom: 0;
  left: 0;
  padding: 40px;
  letter-spacing: -0.02em;
}
.main-sec .main-title span {
  font-family: "Antic Didone", serif;
  font-style: italic;
  font-size: 5vw;
  padding-right: 0.3rem;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
.bg-video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 프로필 섹션 */
.profile-sec {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding-top: 45vw;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.profile-container .slogan-container {
  font-size: clamp(15px, 4vw, 36px);
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
}
.profile-container .slogan-container .sentence {
  display: flex;
  justify-content: center;
      background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgba(37, 37, 37, 0.4) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.profile-container .desc-container p {
  font-family: "Noto Sans KR", sans-serif;  
  font-size: 16px;
  line-height: 1.5;
  word-break: auto-phrase;
}

/* cube 섹션 */
.cube-sec {
  width: 100%;
  height: 100dvh;
  background-color: var(--white);
}
.marquee-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden; /* 영역 밖은 잘라냄 */
}
.marquee-inner {
  display: flex;
  width: max-content;
  animation: marquee 32s linear infinite; /* 속도 조절 */
}
.marquee-inner span {
  font-family: "Antic Didone", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 18vw;
  color: #d5d6d7;
  opacity: 0.4;
  white-space: nowrap;
  padding-right: 2rem; /* 단어 사이 여백 */
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* 한 세트만큼 왼쪽으로 이동 */
  }
}
.cube-wrap {
  --size: 45vmin;
  position: fixed;
  /* top: 50%; */
  left: 50%;
  width: 0;
  height: 0;
  perspective: 100vmin;
  z-index: 2;
}
.cube {
  transform-style: preserve-3d;
  /* transform: rotateX(50deg) rotateZ(45deg) rotateY(-50deg); */
}
.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  /* backface-visibility: visible; */
  top: calc(var(--size) * -.5);
  left: calc(var(--size) * -.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}
.side > p {
  font-size: clamp(20px, 2vw, 60px);
  font-weight: 500;
}
.side .cube-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}
.side .cube-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale();
}
.top {
  transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
}
.bottom {
  transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
}
.left {
  transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
}
.right {
  transform: rotateY(90deg) translateZ(calc(var(--size) * -.5)) scale(-1, 1);
}
.front {
  transform: translateZ(calc(var(--size) * .5));
}
.back {
  transform: translateZ(calc(var(--size) * -.5)) scale(-1, 1);
}

/* work 섹션 */
.work-sec {
  height: 100dvh;
  color:  var(--black);
  background-color: var(--white);
  /* background-image: url('../assets/img/bg-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}
.work-sec .sec-title {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.work-sec .sec-title h1 {
  font-size: 15vw;
}
.ts-text {
  position: absolute;
  top: 8%;
  left: 50%;
  font-family: "Fragment Mono", monospace;
  font-size: 13px;
  line-height: 1.3;
  text-align: center;
  transform: translateX(-50%);
  color: var(--gray);
}
.work-sec .list-area {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
.work-sec .work-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
}
.work-sec .work-list .work-item {
  width: 330px;
  aspect-ratio: 3 / 4;
  flex-shrink: 0;
  background-color: var(--black);
  color: var(--white);
  border-radius: 13px;
  overflow: hidden;
  will-change: transform;
  transform: translate3d(0,0,0);
}
.work-sec .work-list .work-item a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 5px;
}
.work-sec .work-list .work-item a .thumnail {
  aspect-ratio: 3 / 2;
  border-radius: 8px;
  overflow: hidden;
}
.work-sec .work-list .work-item a .thumnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work-sec .work-list .work-item a .info {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7px 15px;
  justify-content: space-between;
}
.work-sec .work-list .work-item a .info .title {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.work-sec .work-list .work-item a .info .desc {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-family: "Noto Sans KR", sans-serif;  
  font-size: 14px;
  padding-top: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
}
.work-sec .work-list .work-item a .info .desc p {
  padding-right: 40px;
  opacity: 0.5;
}
.work-sec .work-list .work-item a .info .desc .more-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: #323232;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transform: translateY(-15%);
    fill: var(--white);
    transition: all 0.25s ease-in-out;
}
.work-sec .work-list .work-item:hover a .info .desc .more-btn {
  background-color: var(--white);
  fill: #323232;
}

/* contact 영역 */
.contact-sec {
  color: var(--white);
  padding-top: 6vw;
  padding-bottom: 10px;
  overflow: hidden;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Fragment Mono", monospace;
  font-size: 15px;
  margin-bottom: 50px;
}
.contact-info > li {
  display: flex;
}
.contact-info > li:first-child {
  padding-bottom: 15px;
}
.contact-info > li > span {
  display: inline-block;
  width: 80px;
  opacity: 0.7;
}
.contact-now {
  width: 100%;
  text-align: center;
}
.contact-now p {
  font-size: 13.5vw;
  font-weight: 500;
  color: var(--black);
  opacity: 0.4;
  white-space: nowrap;
  letter-spacing: 0.02em;
}

/* TABLET */
@media all and (max-width: 1023px) {


}

/* MOBILE ONLY */
@media all and (max-width: 767px) {
  .h-pf {
    font-size: 12px;
  }
  .black-area .text1 {
    padding: 0 5px;
  }
  .black-area .text3 {
    bottom: 10px;
  }
  .pf-modal .modal-box {
    padding: 20px;
  }
  .pf-modal .modal-box .box-top {
    gap: 20px;
  }
  .pf-modal .modal-box .box-top strong {
    font-size: 22px;
  }
  .pf-modal .modal-box .box-top p {
    font-size: 12px;
  }
  .pf-modal .modal-box .box-bt {
    font-size: 11px;
  }
  .pf-modal .modal-box .box-bt .title {
    padding-bottom: 2px;
  }
  .pf-modal .modal-box .box-bt .content + .title {
    padding-top: 15px;
  }
  .pf-modal .modal-box .btn-close {
    top: 20px;
    right: 20px;
  }

  .work-sec .work-list {
    gap: 50px;
  }
  .work-sec .work-list .work-item {
    width: 250px;
  }
  .work-sec .work-list .work-item a .info .title {
    font-size: 24px;
  }
  .work-sec .work-list .work-item a .info {
    padding: 0 5px 10px;
  }
  .work-sec .work-list .work-item a .info .desc {
    font-size: 12px;
  }
  
  .contact-sec {
    padding-top: 10vw;
  }
}